.header {

}

.header__logo-link {
	font-size: 1.6rem;
}

.header__logo-cart {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.header__cart-image {
	height: 1.6rem;
	width: 1.6rem;
}

.header__cart-link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.header__dropdowns {
	display: flex;
	justify-content: center;
	gap: 4rem;
	margin-top: 1.25rem;
}

.header__dropdowns select {
	font-size: 1.2rem;
}